<% cache ['product-videos', product] do %>
<% if product.videos.present? %>
<div id="product-videos">
	<%= render 'spree/products/video_player', :video => product.videos.first %>
	<%= render 'spree/products/video_thumbnails', :videos => product.videos %>
</div>
<% end %>
<% end %>
